<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048617371757-qp0u2nn8r3f65ftbfd9j1tci2nsvse9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048617371757-qp0u2nn8r3f65ftbfd9j1tci2nsvse9k</string>
	<key>API_KEY</key>
	<string>AIzaSyDh1OoB1RqlE0hcGkBa9TBvsHEnJq7NSoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1048617371757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingApp</string>
	<key>PROJECT_ID</key>
	<string>booking-app-93a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-app-93a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048617371757:ios:d734be66e7b10f27a31764</string>
</dict>
</plist>